*{
  box-sizing: border-box;
}
.chart__container {
    padding: 30px;
    background-color: #273241;
    width: 350px;
    display: inline-block;
}
.row {
    padding-top: 10px;
    display: table-cell;
    vertical-align: middle;
}



.nowrap {
    white-space: nowrap;
}

.dropdown.menu a {
    font-weight: bold;
    padding: 5px 8px;
}

.topbar-center-logo {
  background: #005A66;
}

.topbar-center-logo .menu {
  background: #005A66;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
    color: #e0e0e0;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
  .main {
    height: calc(100vh - 55px) !important;
  }
}

.topbar-center-logo-mobile {
  background: #005A66;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}
.main {
  height: calc(100vh - 69px);
  background-color: #0092A6;
  margin-bottom: 0;
}
footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
    background-color: #005A66;
    color: darkgrey;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.text__big {
    font-size: 20px;
}

.text__titile {
    background-color: #add8e6;
}

.konto-type {
    background-color: #add8e6;
    border: 10px #fff solid;
    border-top: 0;
    padding: 0 !important;
}

.konto-type--col,
.konto-type a {
    color: #cc8b00;
}
.budget-type--col {
    color: #1779ba;
}

li.dropdowns {
    padding: 10px;
}
a.dropdown-sel {
   background-color: #dee6e1
}
