body {
  padding: 0px;
  margin: 0px;
}

.header, .footer {
  background-color: #ddd;
  text-align: center;
}

.footer {
  font-size: 9px;
}

h1, h3 {
  text-align: center;
}

.demo-toggle-title {
  margin-top: 0.5rem;
}

div {
  border: 1px dotted red;
}