{% extends 'base.html' %}

{% block APPTITLE %}See you!{% endblock %}

{% block content %}
    <section>
        <div class="content">
            <div class="box">
              <h2>Logged out</h2>
              <div>You have been successfully logged out.</div>
            </div>
            <div class="box box-button">
                <a href="{% url 'login' %}">
                    <div class="button">Log in</div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}