{% extends "car/base.html" %}
{% block APPTITLE-MOB %}
    Übersicht
{% endblock %}
{% block APPTITLE %}
    - Übersicht -
{% endblock %}

{% block content %}

    <h2>Independent scrolling content</h2>
    <hr>
    <p>1<br>2<br>3<br></p> <p>44<br>55<br>66<br></p>
    <p>777<br>888<br>999<br></p> <p>aa<br>bb<br>cc<br></p>
    <p>ddd<br>eee<br>fff<br></p> <p>a1<br>b1<br>c1<br></p>
    <hr>
    <p>1<br>2<br>3<br></p> <p>44<br>55<br>66<br></p>
    <p>777<br>888<br>999<br></p> <p>aa<br>bb<br>cc<br></p>
    <p>ddd<br>eee<br>fff<br></p> <p>a1<br>b1<br>c1<br></p>
    <hr>
{% endblock %}